<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <div id="carbonads">
          <span>
            <span class="carbon-wrap">
              <a href="http://www.reactindiebundle.com/?ref=reactjsnews" onclick="trackOutboundLink('http://www.reactindiebundle.com/?ref=reactjsnews'); return false;" class="carbon-img" target="_blank">
                <img src="https://reactjsnews.com/img/indiebundle.jpeg" alt="" border="0" height="100" width="130" style="max-width:130px;">
              </a>
              <a href="http://www.reactindiebundle.com/?ref=reactjsnews" onclick="trackOutboundLink('http://www.reactindiebundle.com/?ref=reactjsnews'); return false;" class="carbon-text" target="_blank">
                Dive into React.  Master the hottest Javascript framework with a compilation of the best resources that will get you started right away.  A portion of proceeds go to open source projects.
              </a></span>
              <a href="http://www.reactindiebundle.com/?ref=reactjsnews" onclick="trackOutboundLink('http://www.reactindiebundle.com/?ref=reactjsnews'); return false;" class="carbon-poweredby" target="_blank">Created by members in the community.</a>
            </span>
          </div>
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
