<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <div id="carbonads">
          <span>
            <span class="carbon-wrap">
              <a href="https://www.udemy.com/react-redux/?couponCode=4RJN" onclick="trackOutboundLink('https://www.udemy.com/react-redux/?couponCode=4RJN'); return false;" class="carbon-img" target="_blank">
                <img src="https://reactjsnews.com/img/course.jpg" alt="" border="0" height="100" width="130" style="max-width:130px;">
              </a>
              <a href="https://www.udemy.com/react-redux/?couponCode=4RJN" onclick="trackOutboundLink('https://www.udemy.com/react-redux/?couponCode=4RJN'); return false;" class="carbon-text" target="_blank">
                Learn and Master React, Redux, and the Redux ecosystem with a new course.  You won't believe the apps that you'll build with ES6, Babel, and Webpack.              </a></span>
              <a href="https://www.udemy.com/react-redux/?couponCode=4RJN" onclick="trackOutboundLink('https://www.udemy.com/react-redux/?couponCode=4RJN'); return false;" class="carbon-poweredby" target="_blank">Created by members in the community.</a>
            </span>
          </div>
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
