<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <div id="carbonads">
          <span>
            <span class="carbon-wrap">
              <a href="http://swizec.com/reactd3js" onclick="trackOutboundLink('http://swizec.com/reactd3js'); return false;" class="carbon-img" target="_blank">
                <img src="https://reactjsnews.com/img/d3-swizec.png" alt="" border="0" height="100" width="130" style="max-width:130px;">
              </a>
              <a href="http://swizec.com/reactd3js" onclick="trackOutboundLink('http://swizec.com/reactd3js'); return false;" class="carbon-text" target="_blank">
                Become a data visualization engineer and learn build dynamic and interactive data visualization components with React and d3js. Use your new skills to turn data into knowledge.              </a></span>
              <a href="http://swizec.com/reactd3js" onclick="trackOutboundLink('http://swizec.com/reactd3js'); return false;" class="carbon-poweredby" target="_blank">Created by members in the community.</a>
            </span>
          </div>
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
