<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <div id="carbonads">
          <span>
            <span class="carbon-wrap">
              <a href="http://reactjsprogram.com/?asdf=36750_yuao1yjr" onclick="trackOutboundLink('http://reactjsprogram.com/?asdf=36750_yuao1yjr'); return false;" class="carbon-img" target="_blank">
                <img src="https://reactjsnews.com/img/reactjsprogram.png" alt="" border="0">
              </a>
              </span>
              <a href="http://reactjsprogram.com/?asdf=36750_yuao1yjr" onclick="trackOutboundLink('http://reactjsprogram.com/?asdf=36750_yuao1yjr'); return false;" class="carbon-poweredby" target="_blank">ReactJSProgram</a>
            </span>
          </div>
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
